<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div>
			<p>Bonjour <strong>{{ user_full_name }}</strong>,</p>

			<p>
				Voici votre nouveau mot de passe :
				<strong>{{ new_password }}</strong>
			</p>
			<p>Utilisez-le pour vous connecter à votre compte.</p>
			<br />
			<p>
				Si vous n'avez pas demandé ce changement, veuillez ignorer cet
				e-mail.
			</p>
			<hr />
			<p>© By ChancyApi</p>
		</div>
	</body>
</html>
